PORT=3000
NODE_ENV=development
WEB_ORIGIN=http://localhost:5173
NETWORK=mainnet
GETGEMS_MAINNET_API_BASE_URL=https://api.getgems.io/public-api
GETGEMS_TESTNET_API_BASE_URL=https://api.testnet.getgems.io/public-api
GETGEMS_MAINNET_READ_API_KEY=
GETGEMS_MAINNET_API_KEY=
GETGEMS_TESTNET_READ_API_KEY=
GETGEMS_TESTNET_API_KEY=
GETGEMS_COLLECTION_ADDRESS=
